#colecImg{
    border-radius: 10px;
    max-width: 250px;
}
#colecButton{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    background-color: green;
    border-radius: 5px;
    max-width: 200px;
}